.header {
  height: 45px;
  padding: 30px 30px 0 0;
  background-color: rgba(187, 186, 186, 0.6);
  display: flex;
  justify-content: space-between;
}

.links {
  margin-left: 30px;
  text-decoration: none;
  color: black;
  display: inline;
  font-size: 17px;
  cursor: pointer;
}

.links:hover {
  text-decoration: underline;
  color: #747474;
}

.header_button {
  background: none;
  border: none;
}

.bills_information {
  display: flex;
}

.bills_information-current_salary {
  margin: 0 20px;
}

.bills_information-current_salary.-alert {
  color: red;
}

.bills_information-total_expense {
  margin: 0;
}

.bills_information-total_bills {
  margin: 0 20px;
}
