.title {
  margin-left: 15px;
}

.container_expenses_data {
  display: flex;
}

.expases_data_price {
  width: 12%;
}

.container_debtor {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_payment_form {
  padding: 16px;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
}

.container_payment_data {
  padding: 8px;
  background-color: #ededed;
  border-radius: 10px;
}

.bill_input {
  background: #f3f2f2;
  border: none;
  padding: 12px;
  font-size: 16px;
  margin-right: 15px;
}

.bill_button {
  background-color: #ea5676;
  border: none;
  padding: 4px;
  color: white;
  font-weight: bold;
  padding: 12px;
  border-radius: 9px;
}

.bill {
  margin-top: 4px;
  font-size: 18px;
}
